.max-width-900{
    max-width: 900px;
}

.item {
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 300px;
    padding: 15px;
    text-align: center;
}

.item-image {
    height: 250px;
    width: auto;
}

.item-image img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.nav-link.active, .nav-link:hover {
    background-color: rgba(114,255,48,.631)!important;
    border-radius: 18px;
    transition: .2s;
}

.logo-img {
    height: 55px;
    padding: 10px;
    width: auto;
}

.logo-name {
    font-size: 15px;
}

a.nav-link, .logo-name {
    font-size: 15px;
    transition: .2s;
    font-weight: 300;
    color: grey;
}

.h2{
    font-size: 24px;
}

.item-name{
    font-size: 14px;
}

#chat{
    right: 0px;
    bottom: 0px;
    min-height: 250px;
}

@media (min-width: 1000px){
    #chat{
        position: fixed;
        height: 100vh;
    }
}

.h4{
    font-size: 17px;
}


.author, .message-text {
    font-size: 13px;
}

#messages-container {
    height: calc(100% - 93px);
}

#message-input-container {
    align-self: end;
}

.date{
    font-size: 10px;
}

#message-input-container input{
    border: 0;
    filter: brightness(0.8);
}

#messages {
    max-height: 55vh;
}

button#send-message {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
}

.trash{
    border: initial!important;
    box-shadow: none!important;
    padding: 0;
}

.trash, .trash svg {
    background: initial!important;
}

.item-name-cart {
    font-size: 17px;
}

