<div class="p-5 w-100">
    <form action="api/products" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Nombre del producto">
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Precio">
        </div>

        <div class="mb-3">
            <label for="thumbnail" class="form-label">Thumbnail image</label>
            <input type="text" class="form-control" id="thumbnail" name="thumbnail" placeholder="URL de la imagen">
        </div>

        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>